/* Base Styles */
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  overflow-x: hidden;
  transition: background-color 0.3s, color 0.3s;
}

header {
  background-color: #e3f2fd;
  color: #0277bd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px 0;
  transition: background-color 0.3s, color 0.3s;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}

.logo-container {
  margin-right: 20px;
}

.logo-icon {
  height: 50px;
}

.tagline-container {
  text-align: center;
  flex-grow: 1;
}

.tagline-container p {
  margin: 0;
  font-size: 1.2rem;
  position: relative;
}

.blinking-lightning {
  font-size: 1.5rem;
  color: #ffeb3b;
  animation: blink 1s infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.theme-toggle-container {
  display: flex;
  align-items: center;
  color: #0277bd;
}

.theme-toggle {
  display: none;
}

.theme-toggle-label {
  display: inline-block;
  width: 50px;
  height: 26px;
  background-color: #ccc;
  border-radius: 50px;
  position: relative;
  cursor: pointer;
  margin: 0 10px;
}

.theme-toggle-slider {
  position: absolute;
  top: 3px;
  left: 3px;
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.3s;
}

.theme-toggle:checked + .theme-toggle-label {
  background-color: #2196f3;
}

.theme-toggle:checked + .theme-toggle-label .theme-toggle-slider {
  transform: translateX(24px);
}

.theme-toggle-text {
  font-size: 1rem;
  margin: 0 10px;
  transition: color 0.3s;
}

.theme-toggle-text#theme-toggle-text-dark {
  display: none;
}

body.dark-mode .theme-toggle-text#theme-toggle-text-light {
  display: none;
}

body.dark-mode .theme-toggle-text#theme-toggle-text-dark {
  display: inline;
}

body.dark-mode .theme-toggle-label {
  background-color: #2196f3;
}

body.dark-mode .theme-toggle-slider {
  background-color: #fff;
}

main {
  padding: 2rem;
  margin: auto;
  text-align: center;
}

main h2 {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  color: #0277bd;
  font-style: italic;
}

.content-container {
  padding: 2rem;
}

.intro-message-container {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.intro-bubble {
  background-color: #e1f5fe;
  text-align: left;
  padding: 15px 20px;
  border-radius: 15px;
  width: 100%;
  font-weight: 900;
  max-width: 600px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.chat-container {
  margin: 0 auto;
  max-width: 800px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  height: 400px;
}

.chat-bubble {
  padding: 10px 20px;
  margin: 10px 0;
  border-radius: 20px;
  max-width: 80%;
  box-sizing: border-box;
  display: block;
}

.robot-bubble {
  background-color: #f5f5f5;
  text-align: left;
  font-weight: bold;
}

.user-bubble {
  background-color: #2196f3;
  color: #fff;
  text-align: left;
  margin-left: auto;
  border-radius: 20px;
  position: relative;
  padding: 10px 20px;
  box-sizing: border-box;
  font-weight: 900;
}

.user-bubble::before {
  content: "";
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-left: 10px solid transparent;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  position: absolute;
  top: 10px;
  right: -10px;
}

.user-input-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.input-container {
  position: relative;
  width: 100%;
  max-width: 600px;
}

textarea {
  width: calc(100% - 50px);
  height: 100px;
  padding: 10px;
  border: 2px solid #2196f3;
  border-radius: 10px;
  margin-right: 50px;
  transition: border-color 0.3s;
  box-sizing: border-box;
}

textarea::placeholder {
  color: #999;
}

textarea:focus {
  border-color: #0d47a1;
}

#send-btn {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background-color: #2196f3;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

#send-btn:hover {
  background-color: #0d47a1;
}

#pathway-btn {
  background-color: #2196f3;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 20px;
  display: block;
  margin: 20px auto;
  font-size: medium;
}

.hidden {
  display: none;
}

/* Dark Theme Styles */
body.dark-mode {
  background-color: #121212;
  color: #e0e0e0;
}

header.dark-mode {
  background-color: #1e1e1e;
  color: #e0e0e0;
}

.intro-bubble.dark-mode {
  background-color: #333;
}

.chat-container.dark-mode {
  background-color: #1e1e1e;
}

.robot-bubble.dark-mode {
  background-color: #2e2e2e;
}

.user-bubble.dark-mode {
  background-color: #1976d2;
}

textarea.dark-mode {
  border-color: #1976d2;
  background-color: #333;
  color: #e0e0e0;
}

#send-btn.dark-mode {
  background-color: #1976d2;
}

#pathway-btn.dark-mode {
  background-color: #1976d2;
}
